/*================= DASAR ===================*/

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  background-color: #e6fbe7;
}
/*==================== NAV ========================*/
ul {
  list-style: none;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBENQ {
  overflow: hidden;
  color: #104619;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 22px;
  top: 0;
  margin-top: 1.7rem;
  margin-left: 1rem;
  position: fixed;
}

.navtombol {
  position: fixed;
  top: -33px;
  right: -50%;
  width: 85%;
  height: 100%;
  padding: 3rem;
  transition: 0.4s;
  margin-right: 2.5rem;
}

.navlisttombol {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
}
.navitemtombol a {
  row-gap: 3rem;
  display: inline-block;
  color: #104619;
  text-align: center;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 20px;
  border-radius: 15px;
}

.navitemtombol a:hover {
  color: #059458;
  text-decoration: underline;
}

/*==================== ABOUT ========================*/
.about_container {
  width: 1200px;
  border: 2px black;
  margin: auto;
  padding: 5px;
  margin-top: 11rem;
  margin-bottom: 9rem;
}

.about_data {
  text-align: left, justify;
  margin-left: 30rem;
  margin-top: 5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #04681d;
}

.about {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: left;
  float: left;
}

.about_gambar {
  overflow: hidden;
  position: block;
}

.gambar1 {
  width: 220px;
}

.gambar2 {
  width: 170px;
}
/*=================== READ MORE ====================*/
#more {
  display: none;
}
#myBtn {
  color: rgb(6, 202, 39);
  background-color: #e6fbe7;
  font-weight: 500;
  border: none;
}
#myBtn :hover {
  color: black;
  background-color: #b2eeb5;
}
/*=================== FOOTER ====================*/

#kontainer {
  background: rgb(5, 87, 5);
  padding: 50px 0px 50px 0px;
  overflow: hidden;
  clear: both;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
}

.judul {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
  width: 100%;
  line-height: 50px;
}

.ket {
  color: white;
}
#copyright {
  text-align: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 3px;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: rgb(179, 245, 185);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(73, 185, 62);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(40, 151, 68);
}
