body {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url("bekgron.jpg");
    background-size: contain;
}

hr{
    color: rgb(0, 0, 0);
}

table{
    border-style: solid;
    font-size: 12pt;
    border: rgb(78, 71, 182);

}
td {
    padding: 8px;
    height: 25px;
}
th{
    background-color: green;
    color:rgb(213, 214, 228);
    height: 30px;
}
table, th, td{
    padding: 8px 20px;
    text-align: left;
}
table tr:nth-of-type(even) {
    background: honeydew;
}
div{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-right: 0px;
    color: rgb(0, 0, 0);
}
h1{
    height: 80px
}
img{
    height: 315px;
    margin-left: 280px;
    margin-top: 30px;
}
section{
    margin-top: -364px;
    margin-left: 350px;
}
iframe{
    margin-left: 155px;
    margin-bottom: 30px;
}
video{
    margin-left: 120px;
    margin-bottom: 5px;
}
audio{
    margin-left: 100px;
    margin-top: 30px;
}
