body {
    font-family: 'Times New Roman', Times, serif;
    background: khaki;
}

table{
    border-collapse: collapse;
    font-size: 12pt;
    border: white;

}
td {
    padding: 8px;
    height: 25px;
}
th{
    background-color: green;
    color:white;
    height: 30px;
}
table, th, td{
    padding: 8px 20px;
    text-align: left;
}
table tr:nth-child(even) {
    background: honeydew;
}
div{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-right: 0px;
    color: rgb(0, 0, 0);
}
h1{
    height: 80px
}
img{
    height: 315px;
    margin-left: 280px;
    
}
section{
    margin-top: -353px;
    margin-left: 350px;
}